<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<name>Manga Automatic Push Program</name>
	<author>Apollo Wayne</author>
	<version>0.3</version>
	<users>
		<user name="user1">
			<lastvisit></lastvisit>
			<lastrequest></lastrequest>
			<lastlink></lastlink>
			<lastpubDate></lastpubDate>
			<lastdescription></lastdescription>
			<list>
				<item>
					<name>onepiece</name>
					<title>海贼王</title>
					<author>尾田栄一郎</author>
					<feed>http://www.ishuhui.com/feed</feed>
					<site>ishuhui.com</site>
					<lastlink>0</lastlink>
				</item>
				<item>
					<name>ikamusume</name>
					<title>侵略！乌贼娘</title>
					<author>安部真弘</author>
					<feed>http://manhua.dmzj.com/q/qinluewuzeiniang/rss.xml</feed>
					<site>dmzj.com</site>
					<lastlink>0</lastlink>
				</item>
				<item>
					<name>conan</name>
					<title>名侦探柯南</title>
					<author>青山刚昌</author>
					<feed>http://manhua.dmzj.com/k/kenan/rss.xml</feed>
					<site>dmzj.com</site>
					<lastlink>0</lastlink>
				</item>
				<item>
					<name>hayate</name>
					<title>旋风管家</title>
					<author>畑 健二郎</author>
					<feed>http://manhua.dmzj.com/x/xfgj/rss.xml</feed>
					<site>dmzj.com</site>
					<lastlink>0</lastlink>
				</item>
			</list>
		</user>		
		<user name="user2">
			<lastvisit></lastvisit>
			<lastrequest></lastrequest>
			<lastlink></lastlink>
			<lastpubDate></lastpubDate>
			<lastdescription></lastdescription>
			<list>
				<item>
					<name>onepiece</name>
					<title>海贼王</title>
					<author>尾田栄一郎</author>
					<feed>http://www.ishuhui.com/feed</feed>
					<site>ishuhui.com</site>
					<lastlink>0</lastlink>
				</item>
				<item>
					<name>demihuman</name>
					<title>亚人</title>
					<author>樱井画门</author>
					<feed>http://www.ishuhui.com/feed</feed>
					<site>ishuhui.com</site>
					<lastlink>0</lastlink>
				</item>
			</list>
		</user>
	</users>
</settings>